@model IEnumerable<NotesApp.Models.Note>
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Index";

    String hideFinished = Convert.ToBoolean(Context.Session.GetInt32("HideFinished")) ? "active" : "";
    String filterHideFinshed = Convert.ToBoolean(Context.Session.GetInt32("HideFinished")) ? "Show finished" : "Hide finished";
    String filterFinishDate = Context.Session.GetString("SelectedFilter").Equals("finishDate") ? "active" : "";
    String filterCreateDate = Context.Session.GetString("SelectedFilter").Equals("createDate") ? "active" : "";
    String filterImportance = Context.Session.GetString("SelectedFilter").Equals("importance") ? "active" : "";
}

<h2>Index</h2>

<p>
    <a asp-action="Create" class="btn btn-default">Create New</a>
</p>

<p>
    <div id="filters" class="row">
        <div class="col-md-6 col-xs-12 pull-left">
            <div class="row">
                <a asp-action="SortBy" asp-route-sort="finishDate" class="btn btn-default col-md-4 col-xs-12 @filterFinishDate">by Finish Date</a>
                <a asp-action="SortBy" asp-route-sort="createDate" class="btn btn-default col-md-4 col-xs-12 @filterCreateDate">by Create Date</a>
                <a asp-action="SortBy" asp-route-sort="importance" class="btn btn-default col-md-4 col-xs-12 @filterImportance">By Importance</a>
            </div>
        </div>
        <a asp-action="ShowOnlyFinished" class="btn btn-default col-md-2 col-xs-12 pull-right @hideFinished">@filterHideFinshed</a>
    </div>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Finished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FinishDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Finished)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Importance)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <div class="alert alert-info" role="alert">
                        <strong>No notes found!</strong>
                    </div>
                </tr>
            }
        }
    </tbody>
</table>