@model IEnumerable<NotesApp.Models.Note>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create" class="btn btn-default">Create New</a>
</p>

<p>
    <div class="row">
        <div class="col-md-3">
            @Html.ActionLink("By Finish Date", "Index", new { sort = ViewBag.finishedDateSortParm })
        </div>
        <div class="col-md-3">
            @Html.ActionLink("By Created Date", "Index", new { sort = ViewBag.createDateSortParm })
        </div>
        <div class="col-md-3">
            @Html.ActionLink("By Importance", "Index", new { sort = ViewBag.importanceSortParm })
        </div>
        <div class="col-md-3">
            @Html.ActionLink("Hide finished", "Index", new { sort = ViewBag.filterFinishedParm })
        </div>
    </div>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Finished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Finished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Importance)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>